
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentPage</title>
</head>
<body>
    <div>Registration Success</div>
</body>

</html>
