@{
    ViewBag.Title = "समाचार";
}
<style>
    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {
        float: left;
        width: 95%;
    }

    /* Right column */
    .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
    }

    /* Fake image */
    .fakeimg {
        background-color: #aaa;
        width: 100%;
        padding: 20px;
    }

    /* Add a card effect for articles */
    .card {
        background-color: #fed2c5;
        padding: 20px;
        margin-top: 20px;
    }
</style>
<section class="breadcrumb_area br_image">
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">समाचार</h2>
            <!--<ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Contact Us</li>
            </ol>-->
        </div>
    </div>
</section>
<section class="sermons_work_area section_gap">
    <div class="container">
        <div class="row">
            <div class="leftcolumn" style="max-width:100%;max-height:100%">
                <div class="card">
                    <h2 style="text-align:center;text-decoration:underline;color:#cb6213">निशुल्क त्रिदिवसीय योग प्रशिक्षण</h2>
                    @*<h5>
                            १९ मई, २०१९
                        </h5>*@
                    <div style="text-align:center"><img src="~/image/gallery/event1.jpeg" alt="" style="max-width:100%;max-height:100%" /></div>
                    <p></p>
                    <p style="font-size:17px !important">
                        #छत्तीसगढ़_प्रांतीय_अखंड_ब्राह्मण_समाज_छ_ग कार्यकारिणी सदस्यों के बैठक में सर्वसम्मति से एस्ट्रो पं योगेश तिवारी पुनः प्रदेश अध्यक्ष निर्विरोध निर्वाचित हुए प्रांतीय अखंड ब्राह्मण समाज रायपुर जिला कार्यकरणी के द्वारा निशुल्क त्रिदिवसीय योग प्रशिक्षण का कार्यक्रम आनंद समाज वाचनालय ब्राह्मण पारा में सम्पन्न हुआ । स्वस्थ्य समाज से स्वस्थ्य राष्ट्र का निर्माण होगा इसी उद्देश्य को लेकर रायपुर जिला अध्यक्षा श्रीमती पदमा दीवान,उपाध्यक्ष श्रीमती मिनी पांडेय और सचिव श्रीमती सीमा दीवान ने अपने जिला के सभी सदस्यों के साथ मिलकर योग प्रशिक्षण,और वृक्षारोपण जैसे कार्यक्रम को सतत जारी रखने का संकल्प लिया । योग प्रशिक्षिका साध्वी किरण कन्नौजे जी ने योगाभ्यास के साथ साथ योग करने के नियम श्वास पर नियंत्रण का बहुत अच्छे से अभ्यास कराया।
                        समापन समारोह कार्यक्रम के मुख्य अतिथि रायपुर महापौर श्री प्रमोद दुबे जी एवम रायपुर के प्रथम महिला नागरिक श्रीमती दीप्ति दुबे जी विशिष्ट अतिथि  थी,अध्यक्षता संगठन के प्रदेश अध्यक्ष योगेश तिवारी एवम प्रदेश नारीशक्ति प्रकोष्ठ प्रमुख श्रीमती भारती किरण शर्मा ने किया । प्रदेश अध्यक्ष योगेश तिवारी ने अपने उद्बबोधन में योग क्रिया के साथ साथ आचार विचार और खान पान पर भी संयम बरतने को स्वास्थ्य हेतु अति आवश्यक बताया।श्रीमती भारती किरण शर्मा ने समाज एवम राष्ट्र उत्थान हेतु संगठन द्वारा उचित पहल करने हेतु संकल्प लिया । महापौर श्री प्रमोद दुबे जी ने योग द्वारा शरीर के आंतरिक सफाई के साथ साथ शहर को भी स्वक्ष रखने की अपील किए एवम श्रीमती दीप्ति दुबे ने संगठन के द्वारा किए जा रहे कार्य को सराहनीय बताया। इस अवसर पर संगठन के प्रदेश संयोजक श्री शैलेन्द्र रिछारिया,महासचिव श्रीमती सरिता तरुण शर्मा,सचिव श्रीमती प्रीति शुक्ला, कोषाध्यक्ष डॉ सरिता दुबे,संयुक्त सचिव श्रीमती सुनीता मिश्रा, शिक्षा प्रकोष्ठ प्रदेश महासचिव श्री प्रकाश दीवान ,प्रदेश संगठन सचिव श्री आई पी शर्मा ,प्रदेश संगठन सचिव युवा प्रकोष्ठ श्री गौरव दुबे,विप्र जागरण प्रदेश संयोजक श्री मेघराज तिवारी,विप्र जागरण प्रकोष्ठ रायपुर जिला अध्यक्ष श्री सूर्यानंद मिश्रा जी,श्री प्रदीप शुक्ला जी के साथ शहर के लगभग 30 सदस्यों ने रोज कार्यक्रम में उपस्थित होकर योगाभ्यास किया। शक्ति महिला मंडल के अध्यक्ष श्रीमती विभा शर्मा के सहयोग वन्दनीय था। कार्यक्रम का सफल संचालन श्रीमती सीमा दीवान ने किया ।
                    </p>
                </div>
                <div class="card">
                    <h2 style="text-align:center;text-decoration:underline;color:#cb6213">शाला प्रवेश उत्सव एवम वृक्षारोपण</h2>
                    <h5 style="text-align:center;text-decoration:underline;color:#cb6213">
                        ११ जुलाई, २०१९
                    </h5>
                    <div style="text-align:center"><img src="~/image/gallery/event4.jpeg" alt="" style="max-width:100%;max-height:100%" /></div>
                    <p></p>
                    <p style="font-size:17px !important"> प्रांतीय अखंड ब्राह्मण समाज द्वारा शिक्षा एवम पर्यवरण के क्षेत्र में राष्ट्र उत्थान हेतु उचित पहल करते हुए 11 जुलाई को गौकर्ण उच्चतर माध्यमिक शाला सेजबहार रायपुर में शाला प्रवेश उत्सव एवम पर्यवरण रक्षार्थ हेतु वृक्षारोपण किया गया ।  संगठन के प्रदेश अध्यक्ष एस्ट्रो योगेश तिवारी ने शिक्षा के महत्व पर प्रकाश डालते हुए शिक्षा के साथ साथ संस्कार को भी महत्वपूर्ण बताया साथ ही ग्लोबल वार्मिंग के कारण बताते हुए इसके निदान हेतु वृक्षारोपण कर उसके देखभाल को नितांत आवश्यक बताया। शाला के संस्थापक सदस्य श्री प्रेम शंकर गौटिया जी ने पर्यावरण एवम  समाज उत्थान हेतु साथ मिलकर काम करने एवम यथा शक्ति मदद करने हेतु प्रतिबद्धता जाहिर किए । संगठन के सदस्यों द्वारा शाला में शैक्षणिक सामग्री वितरित किए एवम बच्चो के साथ वैदिक पाठ करते हुए वृक्षारोपण किए ,शाला के बच्चों के द्वारा कबीर के दोहे एवम वैदिक मंत्रों का सश्वर पाठ किया गया । इस अवसर पर नारीशक्ति प्रकोष्ठ के प्रदेश कार्यकारी अध्यक्ष श्रीमती निशा तिवारी ,नारीशक्ति प्रकोष्ठ रायपुर जिला अध्यक्ष श्रीमती पदमा दीवान ,उपाध्यक्ष श्रीमती मिनी पांडेय,प्रदेश संगठन विस्तार सचिव श्री आई पी शर्मा के साथ शाला के समस्त शिक्षक शिक्षिकाएं उपस्थित थे ।</p>
                </div>
                <div class="card">
                    <h2 style="text-align:center;text-decoration:underline;color:#cb6213">शाला प्रवेश उत्सव</h2>
                    <h5 style="text-align:center;text-decoration:underline;color:#cb6213">
                        १ जुलाई, २०१९
                    </h5>
                    <div style="text-align:center"><img src="~/image/gallery/event2.jpeg" alt="" style="max-width:100%;max-height:100%" /></div>
                    <p></p>
                    <p style="font-size:17px !important"> प्रांतीय अखंड ब्राह्मण समाज द्वारा शिक्षा के क्षेत्र राष्ट्र उत्थान हेतु उचित पहल करते हुए 1 जुलाई को शिशु शिक्षा केन्द्र अंग्रेजी एवम हिंदी माध्यम शाला में शाला प्रवेश उत्सव मनाया। संगठन के प्रदेश सहसचिव श्रीमती सुनीता मिश्रा एवम रायपुर जिला अध्यक्ष श्रीमती पदमा दीवान ने बच्चों के साथ गीत कविता का पठन किया। शिक्षा प्रकोष्ठ प्रदेश प्रमुख हितेश दीवान ने पढ़ाई के टिप्स दिए । प्रदेश महासचिव श्रीमती सरिता तरुण शर्मा,संगठन सचिव श्री आई पी शर्मा,और शिक्षा प्रकोष्ठ प्रदेश महासचिव श्री प्रकाश दीवान ने बच्चों को तिलक एवम बेच लगाकर स्वागत किया और मिठाई वितरित किए। इस अवसर पर शाला के प्राचार्य श्री के सी मित्रा जी एवम योगेश तिवारी ,शाला की शिक्षिकाएं श्रीमती विजेता ठाकुर,श्रीमती अमिशी व्यास,कु आरती ठाकुर,श्रीमती रखी व्यास उपस्थित थे।</p>
                </div>
                <div class="card">
                    <h2 style="text-align:center;text-decoration:underline;color:#cb6213">एस्ट्रो पं योगेश तिवारी पुनः प्रदेश अध्यक्ष निर्विरोध निर्वाचित हुए</h2>
                    <h5 style="text-align:center;text-decoration:underline;color:#cb6213">
                        १९ मई, २०१९
                    </h5>
                    <div style="text-align:center"><img src="~/image/members/yogeshtiwari.jpeg" alt="" style="max-width:100%;max-height:100%" /></div>
                    <p></p>
                    <p style="font-size:17px !important">#छत्तीसगढ़_प्रांतीय_अखंड_ब्राह्मण_समाज_छ_ग कार्यकारिणी सदस्यों के बैठक में सर्वसम्मति से एस्ट्रो पं योगेश तिवारी पुनः प्रदेश अध्यक्ष निर्विरोध निर्वाचित हुए संगठन के वरिष्ठ सदस्या श्रीमती भारती किरण शर्मा सहित सभी सदस्यों ने #एस्ट्रो_योगेश_तिवारी के निर्देशन में संगठन के द्वारा विगत 3 वर्ष के कार्यकाल में समाज उत्थान हेतु किए गए कार्य पर पूर्ण संतुष्टि जताते हुए उपरोक्त निर्णय पर सहमति व्यक्त किए। #एस्ट्रो_योगेश #तिवारी के प्रदेश अध्यक्ष पद हेतु प्रस्ताव श्रीमती #भारती_किरण_शर्मा एवम #श्रीमती_निशा_तिवारी एवम समर्थन श्री शैलेन्द्र रिछारिया,श्रीमती सरिता तरुण शर्मा,श्रीमती प्रीति शुक्ला,डॉ सरिता दुबे एवम श्रीमती सुनीता मिश्रा ने किया। प्रदेश अध्यक्ष योगेश तिवारी ने श्रीमती भारती किरण शर्मा को नारी शक्ति प्रदेश प्रमुख एवम श्रीमती निशा तिवारी को कार्यकारी प्रमुख सर्वसम्मति से मनोनीत किए एस्ट्रो योगेश तिवारी ने उपस्थित सभी सदस्यों के प्रति आभार व्यक्त करते हुए समाज एवम सनातन धर्म उत्थान हेतु समाज को संगठित करते हुए सभी सदस्यों के सहयोग से धरातल पर कार्य करने हेतु प्रतिबद्धता व्यक्त किए,इस अवसर पर श्रीमती पदमा दीवान,श्रीमती मुक्ता तिवारी,श्रीमती सीमा दीवान,श्रीमती सरिता शर्मा गढ़कलेवा,श्रीमती नेहा शर्मा,श्रीमती सुमन दीवान,श्री आई पी शर्मा,डॉ उमेश मिश्रा,श्री हितेश दीवान,श्री प्रकाश दीवान,श्री कमलेश शर्मा,श्री गौरव दुबे,श्री अथर्व तिवारी उपस्थित थे और नवनिर्वाचित प्रदेश अध्यक्ष को बधाई प्रेषित किए ।</p>
                </div>
                <div class="card">
                    <h2 style="text-align:center;text-decoration:underline;color:#cb6213">बिलासपुर कोनी स्थित #सरस्वती_शिशु_मंदिर मे राष्ट्रीय_स्वयंसेवक_संघ का प्रशिक्षण शिविर</h2>
                    <h5 style="text-align:center;text-decoration:underline;color:#cb6213">११ जून, २०१९ </h5>
                    <div style="text-align:center"><img src="~/image/news2.JPG" alt="" style="max-width:100%;max-height:100%" /></div>
                    <p></p>
                    <p style="font-size:17px !important">नारीशक्ति_प्रकोष्ठ प्रांतीय अखंड ब्राह्मण छत्तीसगढ़ संगठन की #बिलासपुर इकाई की माताओं एवं बहनों के द्वारा #बिलासपुर कोनी स्थित #सरस्वती_शिशु_मंदिर मे #राष्ट्रीय_स्वयंसेवक_संघ के प्रशिक्षण शिविर में 1000 रोटी सहित गुड़ अचार और वहाँ #श्रमदान भी किया गया जिसमें #नारीशक्ति_प्रकोष्ठ_प्रदेश_उपाध्यक्षा श्रीमती चित्रा तिवारी,* सहित सावित्री दुबे, नीलू चौबे, और अणिमा #उपस्थिति_रहे और रोटी पूरे #बिलासपुर #संगठन की बहनो के द्वारा #यथाशक्ति बनाकर दिया गया</p>
                </div>
            </div>
        </div>
    </div>
    </section>