@{
    ViewBag.Title = "समाचार";
}
<style>
    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {
        float: left;
        width: 95%;
    }

    /* Right column */
    .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
    }

    /* Fake image */
    .fakeimg {
        background-color: #aaa;
        width: 100%;
        padding: 20px;
    }

    /* Add a card effect for articles */
    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
    }
</style>
<section class="breadcrumb_area br_image">
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">समाचार</h2>
            <!--<ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Contact Us</li>
            </ol>-->
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>एस्ट्रो पं योगेश तिवारी पुनः प्रदेश अध्यक्ष निर्विरोध निर्वाचित हुए</h2>
                <h5>१९ मई, २०१९
                </h5>
                <div style="text-align:center"><img  src="~/image/members/yogeshtiwari.jpeg" alt=""/></div>
                <p></p>
                <p style="font-size:16px !important">#छत्तीसगढ़_प्रांतीय_अखंड_ब्राह्मण_समाज_छ_ग कार्यकारिणी सदस्यों के बैठक में सर्वसम्मति से एस्ट्रो पं योगेश तिवारी पुनः प्रदेश अध्यक्ष निर्विरोध निर्वाचित हुए संगठन के वरिष्ठ सदस्या श्रीमती भारती किरण शर्मा सहित सभी सदस्यों ने #एस्ट्रो_योगेश_तिवारी के निर्देशन में संगठन के द्वारा विगत 3 वर्ष के कार्यकाल में समाज उत्थान हेतु किए गए कार्य पर पूर्ण संतुष्टि जताते हुए उपरोक्त निर्णय पर सहमति व्यक्त किए। #एस्ट्रो_योगेश #तिवारी के प्रदेश अध्यक्ष पद हेतु प्रस्ताव श्रीमती #भारती_किरण_शर्मा एवम #श्रीमती_निशा_तिवारी एवम समर्थन श्री शैलेन्द्र रिछारिया,श्रीमती सरिता तरुण शर्मा,श्रीमती प्रीति शुक्ला,डॉ सरिता दुबे एवम श्रीमती सुनीता मिश्रा ने किया। प्रदेश अध्यक्ष योगेश तिवारी ने श्रीमती भारती किरण शर्मा को नारी शक्ति प्रदेश प्रमुख एवम श्रीमती निशा तिवारी को कार्यकारी प्रमुख सर्वसम्मति से मनोनीत किए एस्ट्रो योगेश तिवारी ने उपस्थित सभी सदस्यों के प्रति आभार व्यक्त करते हुए समाज एवम सनातन धर्म उत्थान हेतु समाज को संगठित करते हुए सभी सदस्यों के सहयोग से धरातल पर कार्य करने हेतु प्रतिबद्धता व्यक्त किए,इस अवसर पर श्रीमती पदमा दीवान,श्रीमती मुक्ता तिवारी,श्रीमती सीमा दीवान,श्रीमती सरिता शर्मा गढ़कलेवा,श्रीमती नेहा शर्मा,श्रीमती सुमन दीवान,श्री आई पी शर्मा,डॉ उमेश मिश्रा,श्री हितेश दीवान,श्री प्रकाश दीवान,श्री कमलेश शर्मा,श्री गौरव दुबे,श्री अथर्व तिवारी उपस्थित थे और नवनिर्वाचित प्रदेश अध्यक्ष को बधाई प्रेषित किए ।</p>
            </div>
            <div class="card">
                <h2>बिलासपुर कोनी स्थित #सरस्वती_शिशु_मंदिर मे राष्ट्रीय_स्वयंसेवक_संघ का प्रशिक्षण शिविर</h2>
                <h5>११ जून, २०१९ </h5>
                <div><img src="~/image/news2.JPG" alt="" style="width:100%;height:100%" /></div>
                <p>Some text..</p>
                <p>#नारीशक्ति_प्रकोष्ठ प्रांतीय अखंड ब्राह्मण छत्तीसगढ़ संगठन की #बिलासपुर इकाई की माताओं एवं बहनों के द्वारा #बिलासपुर कोनी स्थित #सरस्वती_शिशु_मंदिर मे #राष्ट्रीय_स्वयंसेवक_संघ के प्रशिक्षण शिविर में 1000 रोटी सहित गुड़ अचार और वहाँ #श्रमदान भी किया गया जिसमें #नारीशक्ति_प्रकोष्ठ_प्रदेश_उपाध्यक्षा श्रीमती चित्रा तिवारी,* सहित सावित्री दुबे, नीलू चौबे, और अणिमा #उपस्थिति_रहे और रोटी पूरे #बिलासपुर #संगठन की बहनो के द्वारा #यथाशक्ति बनाकर दिया गया</p>
            </div>
        </div>
    </div>
</div>