@{
    ViewBag.Title = "संपर्क";
}
<section class="breadcrumb_area br_image">
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">
                संपर्क
            </h2>
            <!--<ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Contact Us</li>
            </ol>-->
        </div>
    </div>
</section>
<div class="container">
    </div>