
@{
    ViewBag.Title = "Events";
}


<section class="breadcrumb_area br_image">
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">आयोजन</h2>
            @*<ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Events</li>
                </ol>*@
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<section class="section_gap"></section>
<!--================Event Date Area =================-->

<section class="event_date_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex">
                <div class="evet_location flex">
                    <h3>प्रदेश स्तरीय संपूर्ण ब्राम्हण युवक-युवती एवं पुनर्विवाह परिचय सम्मलेन </h3>
                    <p><span class="lnr lnr-calendar-full"></span>22 दिसंबर, 2019</p>
                    @*<p><span class="lnr lnr-clock"></span>रविवार, 09.00 am to 05.00 pm</p>*@
                </div>
            </div>
            <div class="col-md-6 event_time">
                <h4>रजिस्ट्रेशन के लिए यहाँ क्लिक करें </h4>
                <a class="btn btn-primary" href="@Url.Action("Registration")">रजिस्टर</a>

            </div>
        </div>
    </div>
</section>
<!--================Event Date Area =================-->
<!--================Event Blog Area=================-->
<section class="event_blog_area section_gap">
    <div class="container">
        <div class="row event_two">
            <h3>आगामी आयोजन</h3>
            <div class="col-lg-12 col-sm-6">
                <div class="event_post" style="text-align:center">
                    @*<img style="height:40%;width:40%" src="~/image/gallery/event3.jpeg" alt="">*@
                    <a href="event-details.html"><h2 class="event_title">प्रदेश स्तरीय समस्त ब्राह्मण युवक युवती एवम पुनर्विवाह (कात्यायनी एवम परित्यक्ता) परिचय सम्मेलन</h2></a>
                    <ul class="list_style sermons_category event_category">
                        <li><i class="lnr lnr-calendar-full"></i><h4>22 दिसम्बर, 2019 </h4></li>
                        <li><i class="lnr lnr-location"></i><h4>विप्र  भवन, समता कॉलोनी, रायपुर </h4></li>
                        <li>
                            <div style="font-size:17px !important">
                                <p>प्रांतीय अखंड ब्राह्मण समाज द्वारा 22दिसम्बर 2019 को विप्र  भवन समता कॉलोनी  रायपुर में समाज उत्थान हेतु सतही स्तर पर हमेशा की तरह किए जा रहे प्रयास की दिशा में पहल करते हुए,"समाज के लिए समाज के द्वारा' के सिद्धांत पर कार्य करते हुए एक दिवसीय युवक युवती कात्यायनी(विधवा),परित्यक्ता परिचय सम्मेलन आयोजित की जा रही है। इस परिचय सम्मेलन में विवाह योग्य इच्छुक युवक- युवतियों द्वारा उपरोक्त कार्यक्रम में मंच के माध्यम से अपना परिचय दे सकेंगे साथ ही संगठन द्वारा सामाजिक उत्थान के लिए प्रारंभ नई पहल के अंतर्गत पुनर्विवाह हेतु कात्यायनी / परित्यक्ता/विधुर/ तलाकशुदा भी अपना परिचय मंच के माध्यम से दे सकेंगे।</p>
                                <p> इस कार्यक्रम में शामिल होने हेतु इच्छुक युवक युवतियों को एक फॉर्म में अपनी पूरी जानकारी स्पष्ट रूप से भरकर 300/- सहयोग शुल्क के साथ संगठन के प्रतिनिधि के पास जमा कर पावती लेना अनिवार्य है। फॉर्म संगठन के प्रतिनिधि के पास उपलब्ध है। ज्ञात रहे कि युवक / युवतियों को सीरियल नंबर दिया जाएगा और इसी नंबर के हिसाब से उन्हें मंच पर परिचय देने हेतु आमंत्रित किया जाएगा अतः आप अपना फॉर्म जल्द भर कर जमा कर दे | </p>
                                <p> कार्यक्रम विवरण</p>
                                <table class="table table-bordered">
                                    <tr>
                                        <td>प्रातः 8 बजे</td>
                                        <td>सुंदर कांड का सश्वर पाठ</td>
                                    </tr>
                                    <tr>
                                        <td>प्रातः 9 बजे</td>
                                        <td>नाश्ता, चाय</td>
                                    </tr>
                                    <tr>
                                        <td>प्रातः 10 बजे</td>
                                        <td>युवक युवती परिचय सम्मेलन</td>
                                    </tr>
                                    <tr>
                                        <td>दोपहर 1:30 बजे</td>
                                        <td>भोजन</td>
                                    </tr>
                                    <tr>
                                        <td>दोपहर 2 बजे</td>
                                        <td>परिचय सम्मेलन के शेष भाग</td>
                                    </tr>
                                    <tr>
                                        <td>शाम 4:30 बजे</td>
                                        <td>चाय</td>
                                    </tr>
                                </table>

                                <p>
                                    सामाजिक एकजुटता , स्वजातीय विवाह की वर्ण व्यवस्था एवम ब्राह्मणत्व को सुरक्षित बनाए रखने हेतु संगठन के उपरोक्त पहल में न केवल छत्तीसगढ़ वरन पूरे देश के सभी सम्मानीय स्वजनों से विनम्र निवेदन है अधिक से अधिक संख्या में उपस्थिति एवम यथाशक्ति सहयोग देकर पुण्य के सहभागी बने
                                    छ ग के विभिन्न शहरों में आयोजन संबंधित किसी भी प्रकार के जानकारी एवम सहयोग के लिए के लिए संपर्क करे
                                </p>
                                <table class="table table-bordered">
                                    <tr>
                                        <td colspan="2"><h4>रायपुर</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्री शैलेन्द्र रिछारिया (मोवा रायपुर)</td>
                                        <td>7000350374</td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती भारती किरण शर्मा (सुंदर नगर रायपुर)</td>
                                        <td>7389140061</td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती निशा तिवारी (शंकर नगर रायपुर)</td>
                                        <td>9926848570</td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती सरिता तरुण शर्मा ( डीडी नगर रायपुर)</td>
                                        <td>9926989135</td>
                                    </tr>
                                    <tr>
                                        <td>प्रो सरिता दुबे (कंकाली पारा रायपुर)</td>
                                        <td>9424219193</td>
                                    </tr>
                                    <tr>
                                        <td>श्री मेघराज तिवारी (बिरगांव)</td>
                                        <td>9009486146</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>दुर्ग</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्री संजय शुक्ला</td>
                                        <td>7987329573</td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती भारती तिवारी</td>
                                        <td>9340766130</td>
                                    </tr>
                                    <tr>
                                        <td>श्री तामेश तिवारी</td>
                                        <td>9893236188</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>राजनांदगांव</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती वंदना तिवारी</td>
                                        <td>9827425850</td>
                                    </tr>

                                    <tr>
                                        <td colspan="2"><h4>खैरागढ़</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्री आशीष मालवीय</td>
                                        <td>9691815435</td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती सरिता शर्मा, छुईखदान</td>
                                        <td>9424102565</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>बालोद</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्री लोमेश शर्मा</td>
                                        <td>9131529270</td>
                                    </tr>
                                    <tr>
                                        <td>श्री संजय शर्मा, गुंडरदेही</td>
                                        <td>8349065555</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>बिलासपुर</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती चित्रा तिवारी, कपिल नगर</td>
                                        <td>8370059701</td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती ज्योति, तखतपुर</td>
                                        <td>8770118859</td>
                                    </tr>
                                    <tr>
                                        <td> श्री सुजीत कुमार शर्मा, तखतपुर</td>
                                        <td>9827955435</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>रतनपुर</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती अनामिका शर्मा</td>
                                        <td>9424146035</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>भाटापारा</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती उषा मिश्रा</td>
                                        <td>8770773069</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>जांजगीर</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती अंजू दीवान</td>
                                        <td>8770765587</td>
                                    </tr>

                                    <tr>
                                        <td>श्री मुकेश मिश्रा</td>
                                        <td>8109996676</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>रायगढ़</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती भारती पांडेय</td>
                                        <td>9755307500</td>
                                    </tr>
                                    <tr>
                                        <td> श्री मुकेश देव् तिवारी</td>
                                        <td>9425522676</td>
                                    </tr>
                                    <tr>
                                        <td>श्री विनय तिवारी</td>
                                        <td>8959999935, 7869797871</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>कोरबा</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती रश्मि शर्मा</td>
                                        <td>9826431969</td>
                                    </tr>
                                    <tr>
                                        <td>श्रीमती रश्मि दुबे, बालको</td>
                                        <td>9826540979</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><h4>जगदलपुर</h4></td>
                                    </tr>
                                    <tr>
                                        <td>श्री प्रणय शर्मा</td>
                                        <td>9981029169</td>
                                    </tr>
                                </table>




                                <p>
                                    दूरस्थ सहभागी नीचे दिए गए अकाउंट नंबर पर सहयोग शुल्क जमा कर फॉर्म को मेल या पोस्ट कर नीचे दिए गए रायपुर के प्रतिनिधि को अवश्य सूचित करें
                                </p>
                                <p>
                                    <h4>प्रांतीय अखंड ब्राह्मण समाज छत्तीसगढ़</h4>
                                </p>
                                <p>
                                    <h4>यूनाइटेड बैंक ऑफ इंडिया</h4>
                                </p>
                                <p>
                                    <h4>बूढ़ापारा, बिजली ऑफिस चौक, रायपुर, छत्तीसगढ़</h4>
                                </p>
                                <p>
                                    <h4> अकाउंट नंबर  - 0926050055019</h4>
                                </p>
                                <p>
                                    <h4> IFSC CODE - UTBIORAI633</h4>
                                </p>
                                <p>   उपरोक्त कार्य मे हमारे संगठन के सभी जिला,तहसील ब्लॉक स्तर के पदाधिकारी से संपर्क कर सकते है इसके अलावा अन्य जगह से ब्राह्मण समाज के कोई भी जिम्मेदार सदस्य जवाबदारी लेने हेतु इच्छुक है तो 9827110021 पर सम्पर्क कर सकते है</p>
                            </div>
                        </li>
                    </ul>
                    @*<a href="#" class="btn_hover">
                            विस्तृत जानकारी
                        </a>*@
                </div>
            </div>
            <hr />
            <h3>इस वर्ष के आयोजन</h3>
            <div class="col-lg-12 col-sm-6">
                <div class="event_post" style="text-align:center">
                    <img style="height:40%;width:40%" src="~/image/gallery/event1.jpeg" alt="">
                    <a href="event-details.html"><h2 class="event_title"> निशुल्क त्रिदिवसीय योग प्रशिक्षण</h2></a>
                    <ul class="list_style sermons_category event_category">
                        @*<li><i class="lnr lnr-user"></i>शनिवार, 5 may, 2019</li>*@
                        <li><i class="lnr lnr-apartment"></i><b>आनंद समाज वाचनालय ब्राह्मण पारा, रायपुर </b></li>
                        <li>
                            <div>
                                प्रांतीय अखंड ब्राह्मण समाज रायपुर जिला कार्यकरणी के द्वारा निशुल्क त्रिदिवसीय योग प्रशिक्षण का कार्यक्रम आनंद समाज वाचनालय ब्राह्मण पारा में सम्पन्न हुआ । स्वस्थ्य समाज से स्वस्थ्य राष्ट्र का निर्माण होगा इसी उद्देश्य को लेकर रायपुर जिला अध्यक्षा श्रीमती पदमा दीवान,उपाध्यक्ष श्रीमती मिनी पांडेय और सचिव श्रीमती सीमा दीवान ने अपने जिला के सभी सदस्यों के साथ मिलकर योग प्रशिक्षण,और वृक्षारोपण जैसे कार्यक्रम को सतत जारी रखने का संकल्प लिया । योग प्रशिक्षिका साध्वी किरण कन्नौजे जी ने योगाभ्यास के साथ साथ योग करने के नियम श्वास पर नियंत्रण का बहुत अच्छे से अभ्यास कराया।
                                समापन समारोह कार्यक्रम के मुख्य अतिथि रायपुर महापौर श्री प्रमोद दुबे जी एवम रायपुर के प्रथम महिला नागरिक श्रीमती दीप्ति दुबे जी विशिष्ट अतिथि  थी,अध्यक्षता संगठन के प्रदेश अध्यक्ष योगेश तिवारी एवम प्रदेश नारीशक्ति प्रकोष्ठ प्रमुख श्रीमती भारती किरण शर्मा ने किया । प्रदेश अध्यक्ष योगेश तिवारी ने अपने उद्बबोधन में योग क्रिया के साथ साथ आचार विचार और खान पान पर भी संयम बरतने को स्वास्थ्य हेतु अति आवश्यक बताया।श्रीमती भारती किरण शर्मा ने समाज एवम राष्ट्र उत्थान हेतु संगठन द्वारा उचित पहल करने हेतु संकल्प लिया । महापौर श्री प्रमोद दुबे जी ने योग द्वारा शरीर के आंतरिक सफाई के साथ साथ शहर को भी स्वक्ष रखने की अपील किए एवम श्रीमती दीप्ति दुबे ने संगठन के द्वारा किए जा रहे कार्य को सराहनीय बताया। इस अवसर पर संगठन के प्रदेश संयोजक श्री शैलेन्द्र रिछारिया,महासचिव श्रीमती सरिता तरुण शर्मा,सचिव श्रीमती प्रीति शुक्ला, कोषाध्यक्ष डॉ सरिता दुबे,संयुक्त सचिव श्रीमती सुनीता मिश्रा, शिक्षा प्रकोष्ठ प्रदेश महासचिव श्री प्रकाश दीवान ,प्रदेश संगठन सचिव श्री आई पी शर्मा ,प्रदेश संगठन सचिव युवा प्रकोष्ठ श्री गौरव दुबे,विप्र जागरण प्रदेश संयोजक श्री मेघराज तिवारी,विप्र जागरण प्रकोष्ठ रायपुर जिला अध्यक्ष श्री सूर्यानंद मिश्रा जी,श्री प्रदीप शुक्ला जी के साथ शहर के लगभग 30 सदस्यों ने रोज कार्यक्रम में उपस्थित होकर योगाभ्यास किया। शक्ति महिला मंडल के अध्यक्ष श्रीमती विभा शर्मा के सहयोग वन्दनीय था। कार्यक्रम का सफल संचालन श्रीमती सीमा दीवान ने किया ।
                            </div>
                        </li>
                    </ul>
                    @*<a href="#" class="btn_hover">
                            विस्तृत जानकारी
                        </a>*@
                </div>
            </div>
            <div class="col-lg-12 col-sm-6">
                <div class="event_post" style="text-align:center">
                    <img style="height:40%;width:40%" src="~/image/gallery/event2.jpeg" alt="">
                    <a href="event-details.html"><h2 class="event_title">शाला प्रवेश उत्सव</h2></a>
                    <ul class="list_style sermons_category event_category">
                        <li><i class="lnr lnr-user"></i>1 जुलाई , 2019</li>
                        <li><i class="lnr lnr-apartment"></i><b>शिशु शिक्षा केन्द्र, ब्राह्मण पारा, रायपुर </b></li>
                        <li>
                            <div>
                                प्रांतीय अखंड ब्राह्मण समाज द्वारा शिक्षा के क्षेत्र राष्ट्र उत्थान हेतु उचित पहल करते हुए 1 जुलाई को शिशु शिक्षा केन्द्र अंग्रेजी एवम हिंदी माध्यम शाला में शाला प्रवेश उत्सव मनाया। संगठन के प्रदेश सहसचिव श्रीमती सुनीता मिश्रा एवम रायपुर जिला अध्यक्ष श्रीमती पदमा दीवान ने बच्चों के साथ गीत कविता का पठन किया। शिक्षा प्रकोष्ठ प्रदेश प्रमुख हितेश दीवान ने पढ़ाई के टिप्स दिए । प्रदेश महासचिव श्रीमती सरिता तरुण शर्मा,संगठन सचिव श्री आई पी शर्मा,और शिक्षा प्रकोष्ठ प्रदेश महासचिव श्री प्रकाश दीवान ने बच्चों को तिलक एवम बेच लगाकर स्वागत किया और मिठाई वितरित किए। इस अवसर पर शाला के प्राचार्य श्री के सी मित्रा जी एवम योगेश तिवारी ,शाला की शिक्षिकाएं श्रीमती विजेता ठाकुर,श्रीमती अमिशी व्यास,कु आरती ठाकुर,श्रीमती रखी व्यास उपस्थित थे।
                            </div>
                        </li>
                    </ul>
                    @*<a href="#" class="btn_hover">
                            विस्तृत जानकारी
                        </a>*@
                </div>
            </div>
            <div class="col-lg-12 col-sm-6">
                <div class="event_post" style="text-align:center">
                    <img style="height:40%;width:40%" src="~/image/gallery/event3.jpeg" alt="">
                    <a href="event-details.html"><h2 class="event_title">शाला प्रवेश उत्सव एवम वृक्षारोपण</h2></a>
                    <ul class="list_style sermons_category event_category">
                        <li><i class="lnr lnr-user"></i>11 जुलाई , 2019</li>
                        <li><i class="lnr lnr-apartment"></i><b>गौकर्ण उच्चतर माध्यमिक शाला, सेजबहार, रायपुर </b></li>
                        <li>
                            <div>
                                प्रांतीय अखंड ब्राह्मण समाज द्वारा शिक्षा एवम पर्यवरण के क्षेत्र में राष्ट्र उत्थान हेतु उचित पहल करते हुए 11 जुलाई को गौकर्ण उच्चतर माध्यमिक शाला सेजबहार रायपुर में शाला प्रवेश उत्सव एवम पर्यवरण रक्षार्थ हेतु वृक्षारोपण किया गया ।  संगठन के प्रदेश अध्यक्ष एस्ट्रो योगेश तिवारी ने शिक्षा के महत्व पर प्रकाश डालते हुए शिक्षा के साथ साथ संस्कार को भी महत्वपूर्ण बताया साथ ही ग्लोबल वार्मिंग के कारण बताते हुए इसके निदान हेतु वृक्षारोपण कर उसके देखभाल को नितांत आवश्यक बताया। शाला के संस्थापक सदस्य श्री प्रेम शंकर गौटिया जी ने पर्यावरण एवम  समाज उत्थान हेतु साथ मिलकर काम करने एवम यथा शक्ति मदद करने हेतु प्रतिबद्धता जाहिर किए । संगठन के सदस्यों द्वारा शाला में शैक्षणिक सामग्री वितरित किए एवम बच्चो के साथ वैदिक पाठ करते हुए वृक्षारोपण किए ,शाला के बच्चों के द्वारा कबीर के दोहे एवम वैदिक मंत्रों का सश्वर पाठ किया गया । इस अवसर पर नारीशक्ति प्रकोष्ठ के प्रदेश कार्यकारी अध्यक्ष श्रीमती निशा तिवारी ,नारीशक्ति प्रकोष्ठ रायपुर जिला अध्यक्ष श्रीमती पदमा दीवान ,उपाध्यक्ष श्रीमती मिनी पांडेय,प्रदेश संगठन विस्तार सचिव श्री आई पी शर्मा के साथ शाला के समस्त शिक्षक शिक्षिकाएं उपस्थित थे ।
                            </div>
                        </li>
                    </ul>
                    @*<a href="#" class="btn_hover">
                            विस्तृत जानकारी
                        </a>*@
                </div>
            </div>

            @*<div class="col-lg-4 col-sm-6">
                    <div class="event_post">
                        <img src="~/image/blog1.jpg" alt="">
                        <a href="event-details.html"><h2 class="event_title">व्रतबन्ध संस्कार</h2></a>
                        <ul class="list_style sermons_category event_category">
                            <li><i class="lnr lnr-user"></i>2018</li>
                            <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                            <li>@*<i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA</li>
                        </ul>
                        <a href="#" class="btn_hover">
                            विस्तृत जानकारी
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="event_post">
                        <img src="~/image/blog1.jpg" alt="">
                        <a href="event-details.html"><h2 class="event_title">शैक्षणिक सम्मान समारोह</h2></a>
                        <ul class="list_style sermons_category event_category">
                            <li><i class="lnr lnr-user"></i>शनिवार, 5th may, 2018</li>
                            <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                            <li>
                                <i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA
                            </li>
                        </ul>
                        <a href="#" class="btn_hover">
                            विस्तृत जानकारी
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="event_post">
                        <img src="~/image/blog1.jpg" alt="">
                        <a href="event-details.html"><h2 class="event_title">शैक्षणिक सम्मान समारोह</h2></a>
                        <ul class="list_style sermons_category event_category">
                            <li><i class="lnr lnr-user"></i>शनिवार, 5th may, 2018</li>
                            <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                            <li><i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA</li>
                        </ul>
                        <a href="#" class="btn_hover">
                            विस्तृत जानकारी
                        </a>
                    </div>
                </div>*@
            @* <div class="col-lg-4 col-sm-6">
                    <div class="event_post">
                        <img src="~/image/blog1.jpg" alt="">
                        <a href="event-details.html"><h2 class="event_title">शैक्षणिक सम्मान समारोह</h2></a>
                        <ul class="list_style sermons_category event_category">
                            <li><i class="lnr lnr-user"></i>शनिवार, 5th may, 2018</li>
                            <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                            <li>@*<i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA</li>
                        </ul>
                        <a href="#" class="btn_hover">
                            विस्तृत जानकारी
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="event_post">
                        <img src="~/image/bg1.jpg" alt="">
                        <a href="event-details.html"><h2 class="event_title">शैक्षणिक सम्मान समारोह</h2></a>
                        <ul class="list_style sermons_category event_category">
                            <li><i class="lnr lnr-user"></i>शनिवार, 5th may, 2018</li>
                            <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                            <li>@*<i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA</li>
                        </ul>
                        <a href="#" class="btn_hover">
                            विस्तृत जानकारी
                        </a>
                    </div>
                </div>*@
        </div>
    </div>
</section>