
@{
    ViewBag.Title = "Events";
}

<section class="breadcrumb_area br_image">
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">आगामी आयोजन</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Events</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<!--================Event Date Area =================-->
<section class="event_date_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex">
                <div class="evet_location flex">
                    <h3>प्रदेश स्तरीय संपूर्ण ब्राम्हण युवक-युवती एवं पुनर्विवाह परिचय सम्मलेन </h3>
                    <p><span class="lnr lnr-calendar-full"></span>16th दिसंबर, 2019</p>
                    <p><span class="lnr lnr-clock"></span>रविवार, 09.00 am to 05.00 pm</p>
                </div>
            </div>
            <div class="col-md-6 event_time">
                <h4>रजिस्ट्रेशन के लिए यहाँ क्लिक करें </h4>
                <a class="btn" href="@Url.Action("Registration")">रजिस्टर</a>
               
            </div>
        </div>
    </div>
</section>
<!--================Event Date Area =================-->
<!--================Event Blog Area=================-->
<section class="event_blog_area section_gap">
    <div class="container">
        <div class="row event_two">
            <div class="col-lg-4 col-sm-6">
                <div class="event_post">
                    <img src="~/image/blog1.jpg" alt="">
                    <a href="event-details.html"><h2 class="event_title">शैक्षणिक सम्मान समारोह</h2></a>
                    <ul class="list_style sermons_category event_category">
                        <li><i class="lnr lnr-user"></i>शनिवार, 5th may, 2018</li>
                        <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                        <li>@*<i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA*@</li>
                    </ul>
                    <a href="#" class="btn_hover">
                        विस्तृत जानकारी
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="event_post">
                    <img src="~/image/blog1.jpg" alt="">
                    <a href="event-details.html"><h2 class="event_title">शैक्षणिक सम्मान समारोह</h2></a>
                    <ul class="list_style sermons_category event_category">
                        <li><i class="lnr lnr-user"></i>शनिवार, 5th may, 2018</li>
                        <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                        <li>@*<i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA*@</li>
                    </ul>
                    <a href="#" class="btn_hover">
                        विस्तृत जानकारी
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="event_post">
                    <img src="~/image/blog1.jpg" alt="">
                    <a href="event-details.html"><h2 class="event_title">शैक्षणिक सम्मान समारोह</h2></a>
                    <ul class="list_style sermons_category event_category">
                        <li><i class="lnr lnr-user"></i>शनिवार, 5th may, 2018</li>
                        <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                        <li>@*<i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA*@</li>
                    </ul>
                    <a href="#" class="btn_hover">
                        विस्तृत जानकारी
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="event_post">
                    <img src="~/image/blog1.jpg" alt="">
                    <a href="event-details.html"><h2 class="event_title">शैक्षणिक सम्मान समारोह</h2></a>
                    <ul class="list_style sermons_category event_category">
                        <li><i class="lnr lnr-user"></i>शनिवार, 5th may, 2018</li>
                        <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                        <li>@*<i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA*@</li>
                    </ul>
                    <a href="#" class="btn_hover">
                        विस्तृत जानकारी
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="event_post">
                    <img src="~/image/blog1.jpg" alt="">
                    <a href="event-details.html"><h2 class="event_title">शैक्षणिक सम्मान समारोह</h2></a>
                    <ul class="list_style sermons_category event_category">
                        <li><i class="lnr lnr-user"></i>शनिवार, 5th may, 2018</li>
                        <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                        <li>@*<i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA*@</li>
                    </ul>
                    <a href="#" class="btn_hover">
                        विस्तृत जानकारी
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="event_post">
                    <img src="~/image/blog1.jpg" alt="">
                    <a href="event-details.html"><h2 class="event_title">शैक्षणिक सम्मान समारोह</h2></a>
                    <ul class="list_style sermons_category event_category">
                        <li><i class="lnr lnr-user"></i>शनिवार, 5th may, 2018</li>
                        <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                        <li>@*<i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA*@</li>
                    </ul>
                    <a href="#" class="btn_hover">
                        विस्तृत जानकारी
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="event_post">
                    <img src="~/image/bg1.jpg" alt="">
                    <a href="event-details.html"><h2 class="event_title">शैक्षणिक सम्मान समारोह</h2></a>
                    <ul class="list_style sermons_category event_category">
                        <li><i class="lnr lnr-user"></i>शनिवार, 5th may, 2018</li>
                        <li><i class="lnr lnr-apartment"></i>विप्र भवन, रायपुर </li>
                        <li>@*<i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA*@</li>
                    </ul>
                    <a href="#" class="btn_hover">
                        विस्तृत जानकारी
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>