
@{
    ViewBag.Title = "गैलरी";
}
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="~/css/gallery-grid.css">
<section class="breadcrumb_area br_image" style=" margin-top:31px !important;">
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">
                गैलरी
            </h2>
            <!--<ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Contact Us</li>
            </ol>-->
        </div>
    </div>
</section>
<div class="container gallery-container">

    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery2.jpeg">
                    <img src="~/image/gallery/gallery2.jpeg" alt="" height="300" width="300">
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery4.jpeg">
                    <img src="~/image/gallery/gallery4.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery5.jpeg">
                    <img src="~/image/gallery/gallery5.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery6.jpeg">
                    <img src="~/image/gallery/gallery6.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery7.jpeg">
                    <img src="~/image/gallery/gallery7.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery8.jpeg">
                    <img src="~/image/gallery/gallery8.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery9.jpeg">
                    <img src="~/image/gallery/gallery9.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery10.jpeg">
                    <img src="~/image/gallery/gallery10.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery11.jpeg">
                    <img src="~/image/gallery/gallery11.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery12.jpeg">
                    <img src="~/image/gallery/gallery12.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery13.jpeg">
                    <img src="~/image/gallery/gallery13.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery14.jpeg">
                    <img src="~/image/gallery/gallery14.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery15.jpeg">
                    <img src="~/image/gallery/gallery15.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery16.jpeg">
                    <img src="~/image/gallery/gallery16.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery3.jpeg">
                    <img src="~/image/gallery/gallery3.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery17.jpeg">
                    <img src="~/image/gallery/gallery17.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery18.jpeg">
                    <img src="~/image/gallery/gallery18.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery19.jpeg">
                    <img src="~/image/gallery/gallery19.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery20.jpeg">
                    <img src="~/image/gallery/gallery20.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            @*<div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery21.jpeg">
                    <img src="~/image/gallery/gallery21.jpeg" alt="" height="300" width="300">
                </a>
            </div>*@
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery22.jpeg">
                    <img src="~/image/gallery/gallery22.jpeg" alt="" height="300" width="300">
                </a>
            </div> <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery23.jpeg">
                    <img src="~/image/gallery/gallery23.jpeg" alt="" height="300" width="300">
                </a>
            </div> <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery24.jpeg">
                    <img src="~/image/gallery/gallery24.jpeg" alt="" height="300" width="300">
                </a>
            </div> <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery25.jpeg">
                    <img src="~/image/gallery/gallery25.jpeg" alt="" height="300" width="300">
                </a>
            </div> <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery26.jpeg">
                    <img src="~/image/gallery/gallery26.jpeg" alt="" height="300" width="300">
                </a>
            </div> <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery27.jpeg">
                    <img src="~/image/gallery/gallery27.jpeg" alt="" height="300" width="300">
                </a>
            </div> <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery28.jpeg">
                    <img src="~/image/gallery/gallery28.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery29.jpeg">
                    <img src="~/image/gallery/gallery29.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery30.jpeg">
                    <img src="~/image/gallery/gallery30.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery31.jpeg">
                    <img src="~/image/gallery/gallery31.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery32.jpeg">
                    <img src="~/image/gallery/gallery32.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery33.jpeg">
                    <img src="~/image/gallery/gallery33.jpeg" alt="" height="300" width="300">
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery34.jpeg">
                    <img src="~/image/gallery/gallery34.jpeg" alt="" height="300" width="300">
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery35.jpeg">
                    <img src="~/image/gallery/gallery35.jpeg" alt="" height="300" width="300">
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery36.jpeg">
                    <img src="~/image/gallery/gallery36.jpeg" alt="" height="300" width="300">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery37.jpeg">
                    <img src="~/image/gallery/gallery37.jpeg" alt="" height="300" width="300">
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery38.jpeg">
                    <img src="~/image/gallery/gallery38.jpeg" alt="" height="300" width="300">
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="~/image/gallery/gallery39.jpeg">
                    <img src="~/image/gallery/gallery39.jpeg" alt="" height="300" width="300">
                </a>
            </div>


        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
@*<div class="container">
        <div class="mySlides">
            <div class="numbertext">1 / 20</div>
            <img src="~/image/gallery/gallery1.jpeg" style="height:100%; width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 20</div>
            <img src="~/image/gallery/gallery2.jpeg" style="height:100%; width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 20</div>
            <img src="~/image/gallery/gallery3.jpeg" style="height:100%; width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 20</div>
            <img src="~/image/gallery/gallery4.jpeg" style="height:100%; width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 20</div>
            <img src="~/image/gallery/gallery5.jpeg" style="height:100%; width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 20</div>
            <img src="~/image/gallery/gallery6.jpeg" style="height:100%; width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 20</div>
            <img src="~/image/gallery/gallery6.jpeg" style="height:100%; width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">7 / 20</div>
            <img src="~/image/gallery/gallery7.jpeg" style="height:100%; width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">8 / 20</div>
            <img src="~/image/gallery/gallery8.jpeg" style="height:100%; width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">9 / 20</div>
            <img src="~/image/gallery/gallery9.jpeg" style="height:100%; width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">10 / 20</div>
            <img src="~/image/gallery/gallery10.jpeg" style="height:100%; width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">11 / 20</div>
            <img src="~/image/gallery/gallery11.jpeg" style="height:100%; width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">12 / 20</div>
            <img src="~/image/gallery/gallery12.jpeg" style="height:100%; width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">13 / 20</div>
            <img src="~/image/gallery/gallery13.jpeg" style="height:100%; width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">14 / 20</div>
            <img src="~/image/gallery/gallery14.jpeg" style="height:100%; width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">15 / 20</div>
            <img src="~/image/gallery/gallery15.jpeg" style="height:100%; width:100%">
        </div> <div class="mySlides">
            <div class="numbertext">16 / 20</div>
            <img src="~/image/gallery/gallery16.jpeg" style="height:100%; width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">17 / 20</div>
            <img src="~/image/gallery/gallery17.jpeg" style="height:100%; width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">18 / 20</div>
            <img src="~/image/gallery/gallery18.jpeg" style="height:100%; width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">19 / 20</div>
            <img src="~/image/gallery/gallery19.jpeg" style="height:100%; width:100%">
        </div>
        <div class="mySlides">
            <div class="numbertext">20 / 20</div>
            <img src="~/image/gallery/gallery20.jpeg" style="height:100%; width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="row">
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery1.jpeg" width="190" height="100" onclick="currentSlide(1)" alt="The Woods">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery2.jpeg" width="190" height="100" onclick="currentSlide(2)" alt="Cinque Terre">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery3.jpeg" width="190" height="100" onclick="currentSlide(3)" alt="Mountains and fjords">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery4.jpeg" width="190" height="100" onclick="currentSlide(4)" alt="Northern Lights">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery5.jpeg" width="190" height="100" onclick="currentSlide(5)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery6.jpeg" width="190" height="100" onclick="currentSlide(6)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery7.jpeg" width="190" height="100" onclick="currentSlide(7)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery8.jpeg" width="190" height="100" onclick="currentSlide(8)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery9.jpeg" width="190" height="100" onclick="currentSlide(9)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery10.jpeg" width="190" height="100" onclick="currentSlide(10)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery11.jpeg" width="190" height="100" onclick="currentSlide(11)" alt="Nature and sunrise">
            </div><div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery12.jpeg" width="190" height="100" onclick="currentSlide(12)" alt="Nature and sunrise">
            </div><div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery13.jpeg" width="190" height="100" onclick="currentSlide(13)" alt="Nature and sunrise">
            </div><div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery14.jpeg" width="190" height="100" onclick="currentSlide(14)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery15.jpeg" width="190" height="100" onclick="currentSlide(15)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery16.jpeg" width="190" height="100" onclick="currentSlide(16)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery17.jpeg" width="190" height="100" onclick="currentSlide(17)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery18.jpeg" width="190" height="100" onclick="currentSlide(18)" alt="Nature and sunrise">
            </div><div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery19.jpeg" width="190" height="100" onclick="currentSlide(19)" alt="Nature and sunrise">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/image/gallery/gallery20.jpeg" width="190" height="100" onclick="currentSlide(20)" alt="Nature and sunrise">
            </div>

        </div>
    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>*@
