
@{
    ViewBag.Title = "Members";
}

@*<link href="~/css/members/fonts.css" rel="stylesheet" />*@
@*<link href="~/css/members/responsive.css" rel="stylesheet" />*@

<section class="breadcrumb_area br_image">
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">पदाधिकारी</h2>
        </div>
    </div>
</section>
<section class="contact_area section_gap" style="font-size:17px !important">
    <div class="container">
        <section class="solutionSection companyPage">

            @*<p class="text-center">आवश्यकत आंतरकार्यक्षमता बहतर तरीके कराना लोगो गयेगया व्रुद्धि वास्तविक लिए। जानते उपेक्ष तरहथा। प्राप्त जानते किएलोग विभाजनक्षमता समाज पहेला कलइस प्रमान तरहथा। तकरीबन मुश्किले लाभान्वित विवरन ७०है सादगि कैसे दोषसके अनुवादक अर्थपुर्ण बनाति जिवन पुस्तक गटकउसि सभिसमज</p>*@
            <div class="row ourTeamWrap">
                <div class="col-md-3 col-sm-6">
                    <div class="teamMembBLock">
                        <div class="imgBlock">
                            <img src="~/image/members/yogeshtiwari.jpeg" style="height:250px;width:261px" class="img-responsive" />
                            @*<div class="socialOverly">
                        <ul class="socialList">
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamFB.png" />
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/pkmohapatra" target="_blank">
                                    <img src="images/teamTweet.png" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/pkmohapatra" target="_blank">
                                    <img src="images/teamLink.png" />
                                </a>
                            </li>
                        </ul>
                    </div>*@
                        </div>

                        <div class="textBlock">
                            <h4 class="name">योगेश तिवारी</h4>
                            <p class="jobTitle">प्रदेश अध्यक्ष</p>
                        </div>

                    </div>
                </div>
  

                <div class="col-md-3 col-sm-6">
                    <div class="teamMembBLock">
                        <div class="imgBlock">
                            <img src="~/image/members/bhartisharma.jpeg" style="height:250px;width:261px" />
                            @*<div class="socialOverly">
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <ul class="socialList">
                            <li>
                                <a href="https://www.facebook.com/alex.dunphy.52" target="_blank">
                                    <img src="images/teamFB.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamTweet.png" />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/alexdunphybsnm" target="_blank">
                                    <img src="images/teamLink.png" />
                                </a>
                            </li>
                        </ul>
                    </div>*@
                        </div>

                        <div class="textBlock">
                            <h4 class="name">श्रीमती भारती किरण शर्मा</h4>
                            <p class="jobTitle">नारीशक्ति प्रकोष्ठ प्रदेश प्रमुख</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="teamMembBLock">
                        <div class="imgBlock">
                            <img src="~/image/members/nishatiwari.jpeg" style="height:250px;width:261px" class="img-responsive" />                            @*<div class="socialOverly">
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <ul class="socialList">
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamFB.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamTweet.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamLink.png" />
                                </a>
                            </li>
                        </ul>
                    </div>*@
                        </div>

                        <div class="textBlock">
                            <h4 class="name">श्रीमती निशा तिवारी</h4>
                            <p class="jobTitle"> प्रदेश कार्यकारी अध्यक्ष नारी शक्ति प्रकोष्ठ</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="teamMembBLock">
                        <div class="imgBlock">
                            <img src="~/image/members/chitratiwari.jpeg" style="height:250px;width:261px" class="img-responsive" />                            @*<div class="socialOverly">
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <ul class="socialList">
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamFB.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamTweet.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamLink.png" />
                                </a>
                            </li>
                        </ul>
                    </div>*@
                        </div>

                        <div class="textBlock">
                            <h4 class="name">श्रीमती चित्रा तिवारी</h4>
                            <p class="jobTitle">प्रदेश उपाध्यक्ष</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="teamMembBLock">
                        <div class="imgBlock">
                            <img src="~/image/members/saritasharma.jpeg" style="height:250px;width:261px" class="img-responsive" />                            @*<div class="socialOverly">
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <ul class="socialList">
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamFB.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamTweet.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamLink.png" />
                                </a>
                            </li>
                        </ul>
                    </div>*@
                        </div>

                        <div class="textBlock">
                            <h4 class="name">श्रीमती सरिता तरुण शर्मा </h4>
                            <p class="jobTitle">प्रदेश महासचिव</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="teamMembBLock">
                        <div class="imgBlock">
                            <img src="~/image/members/pritishukla.jpeg" style="height:250px;width:261px" />
                        </div>

                        <div class="textBlock">
                            <h4 class="name">श्रीमती प्रीति शुक्ला</h4>
                            <p class="jobTitle"> प्रदेश सचिव</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="teamMembBLock">
                        <div class="imgBlock">
                            <img src="~/image/members/sanjayshukla.jpeg" style="height:250px;width:261px" class="img-responsive" />                            @*<div class="socialOverly">
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <ul class="socialList">
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamFB.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamTweet.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamLink.png" />
                                </a>
                            </li>
                        </ul>
                    </div>*@
                        </div>

                        <div class="textBlock">
                            <h4 class="name">संजय शुक्ला</h4>
                            <p class="jobTitle"> प्रदेश संगठन सचिव ( संगठनात्मक)</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="teamMembBLock">
                        <div class="imgBlock">
                            <img src="~/image/members/saritadubey.jpeg" style="height:250px;width:261px" class="img-responsive" />                            @*<div class="socialOverly">
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <ul class="socialList">
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamFB.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamTweet.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamLink.png" />
                                </a>
                            </li>
                        </ul>
                    </div>*@
                        </div>

                        <div class="textBlock">
                            <h4 class="name">डॉ सरिता दुबे </h4>
                            <p class="jobTitle">प्रदेश कोषाध्यक्ष</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="teamMembBLock">
                        <div class="imgBlock">
                            <img src="~/image/members/sunitamishra.jpeg" style="height:250px;width:261px" class="img-responsive" />                            @*<div class="socialOverly">
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <ul class="socialList">
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamFB.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamTweet.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamLink.png" />
                                </a>
                            </li>
                        </ul>
                    </div>*@
                        </div>

                        <div class="textBlock">
                            <h4 class="name">श्रीमती सुनीता मिश्रा</h4>
                            <p class="jobTitle">प्रदेश सह सचिव</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="teamMembBLock">
                        <div class="imgBlock">
                            <img src="~/image/members/meghrajtiwari.jpeg" style="height:250px;width:261px" class="img-responsive" />                            @*<div class="socialOverly">
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <ul class="socialList">
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamFB.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamTweet.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamLink.png" />
                                </a>
                            </li>
                        </ul>
                    </div>*@
                        </div>

                        <div class="textBlock">
                            <h4 class="name">पं मेघराज तिवारी</h4>
                            <p class="jobTitle"> प्रदेश संयोजक विप्र जागरण प्रकोष्ठ</p>
                        </div>

                    </div>
                </div>


                <div class="col-md-3 col-sm-6">
                    <div class="teamMembBLock">
                        <div class="imgBlock">
                            <img src="~/image/members/mukeshdev.jpeg" style="height:250px;width:261px" class="img-responsive" />                            @*<div class="socialOverly">
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>

                        <ul class="socialList">
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamFB.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamTweet.png" />
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="images/teamLink.png" />
                                </a>
                            </li>
                        </ul>
                    </div>*@
                        </div>

                        <div class="textBlock">
                            <h4 class="name">मुकेश देव् तिवारी</h4>
                            <p class="jobTitle">प्रदेश संगठन विस्तार एवम  प्रचार प्रसार सचिव</p>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </div>
</section>


@*<script src="~/css/members/jquery-1.12.3.min.js"></script>
    <script src="~/css/members/bootstrap.min.js"></script>

    <script src="~/css/members/particles.js"></script>
    <script src="~/css/members/particleElement.js"></script>
    <script src="~/css/members/custom.js"></script>*@


